[Desktop Entry]
Name=Mavishky
Comment=Image Sequence Encoder GUI
Exec=sh -c "cd /opt/cgru; source ./setup.sh; cd /opt/cgru/afanasy; source ./setup.sh; python /opt/cgru/utilities/moviemaker/dialog.py"
Icon=cgrumavishky
Terminal=false
Type=Application
Categories=X-CGRU
