[Desktop Entry]
Name=Nuke
Comment=Nuke with CGRU
Exec=bash -c "cd /opt/cgru/examples/nuke && ./nuke"
Terminal=false
Type=Application
Categories=X-CGRU-EXAMPLES
