[Desktop Entry]
Name=CGRU - Afanasy
Comment=CGRU Keeper
Exec=/opt/cgru/start.sh
Icon=cgrumenuitem
Terminal=false
Type=Application
Categories=Graphics
