[Desktop Entry]
Name=Houdini
Comment=Houdini with CGRU
Exec=bash -c "cd /opt/cgru/examples/houdini && ./houdini"
Terminal=false
Type=Application
Categories=X-CGRU-EXAMPLES
