[Desktop Entry]
Name=Blender
Comment=Blender with CGRU
Exec=bash -c "cd /opt/cgru/examples/blender && ./blender"
Terminal=false
Type=Application
Categories=X-CGRU-EXAMPLES
