[Unit]
Description=Afanasy server daemon
After=syslog.target network.target remote-fs.target

[Service]
Type=forking
WorkingDirectory=/opt/cgru
PIDFile=/var/tmp/afanasy/afserver.pid
ExecStart=/opt/cgru/afanasy/daemon/afdaemon.sh start afserver
ExecStop=/opt/cgru/afanasy/daemon/afdaemon.sh stop afserver
Wants=postgresql.service

[Install]
WantedBy=multi-user.target

