---
Language:        Cpp
BasedOnStyle:    LLVM
ColumnLimit:     110
IndentCaseLabels: true
IndentWidth:     4
TabWidth:        4
UseTab:          Always
BreakBeforeBraces: Allman
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
---
BasedOnStyle: Google
Language: JavaScript
ColumnLimit: 110
IndentWidth:     4
TabWidth:        4
UseTab:          Always
BreakBeforeBraces: Allman
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
