# Settings
config.json
farm.json

# Override scripts
override.sh
override.cmd

# Compiled objects
*.exe
*.dll
*.so
*.o
*.a

# Subversion
.svn

# Python
*.pyc

# Temporary files and folders
tmp*
temp*
*.swo
*.swp
*.suo
*.sdf

# Archives
*.tar
*.gz
*.bz2
*.7z
