# Settings
config.json
farm.json

# Rules
root
users
playlist.json
walk.json

# Access
.htaccess
.htdigest
.htgroups

# Override scripts
override.sh
override.cmd

# Compiled objects
*.exe
*.dll
*.so
*.o
*.a

# Subversion
.svn

# Python
*.pyc

# Temporary and old files and folders
Deploy
*.old
*.swn
*.swo
*.swp
tmp*
temp*
*~

# Archives
*.7z
*.bz2
*.gz
*.tar
*.zip

# MSVS temporary files
ipch
*.pdb
*.suo
*.sdf
*.vcxproj.user

# Project settings
.idea
*.iml

# Apple Crap(tm)
.DS_Store
