[Desktop Entry]
Name=Afanasy
Comment=Afanasy local HTML documentation
Exec=firefox /opt/cgru/afanasy/doc/index.html
Icon=afdoc
Terminal=false
Type=Application
Categories=X-CGRU
