Package: cgru-common
Version: @VERSION@
Architecture: all
Maintainer: Timur Hairulin <timurhai@gmail.com>
Installed-Size: @SIZE@
Depends: python-qt4
Section: graphics
Priority: extra
Homepage: http://sourceforge.net/projects/cgru/
Description: CGRU common files
 CGRU tools pack common files.
 Needed by CGRU GUI applications and documentations.
