Package: cgru-common
Version: @VERSION@
Architecture: all
Maintainer: Timur Hairulin <timurhai@gmail.com>
Installed-Size: @SIZE@
Section: graphics
Priority: extra
Homepage: http://cgru.info/
Description: CGRU files
