Package: afanasy-webvisor
Version: @VERSION@
Architecture: all
Maintainer: Timur Hairulin <timurhai@gmail.com>
Installed-Size: @SIZE@
Depends: apache2, php5, php5-gd, php5-pgsql
Suggests: postgresql
Section: graphics
Priority: extra
Homepage: http://sourceforge.net/projects/cgru/
Description: Afanasy Web Visor
 Afanasy database visor with wed interface.
 Written on PHP.
