body {
   font-size: 14px;
   font-family: Arial;
   text-align: justify;
}
h1 {
   font-family: Verdana;
   font-weight: bold;
}
code {
   color: Navy;
   font-weight: bold;
}
kbd {
   color: Purple;
   font-weight: bold;
}
pre {
   color: #000000;
}
a:hover {
   color: #500000;
}
a:active {
   color: #D00000;
}
table.managers {
   padding: 2px;
   border-collapse: collapse;
   width: 99%;
}

table.managers caption {
   background-color: #EEFFCC;
   color: black;
   font-size: 18px;
}

table.managers th {
   background-color: #EEFFCC;
   color: black;
   font-style: italic;
   font-size: 14px;
   border: 1px solid #000000;
}

table.managers td {
   border: 1px solid #A0C080;
   padding: 4px;
}
