[Unit]
Description=Afanasy render daemon
After=syslog.target network.target remote-fs.target

[Service]
Type=simple
User=render
#Group=render
WorkingDirectory=/opt/cgru
ExecStart=/opt/cgru/start/AFANASY/_afrender.sh
KillMode=control-group
TimeoutStopSec=3

[Install]
WantedBy=remote-fs.target

