Package: afanasy-examples
Version: @VERSION@
Architecture: all
Maintainer: Timur Hairulin <timurhai@gmail.com>
Installed-Size: @SIZE@
Depends: afanasy-plugins (= @VERSION@)
Section: graphics
Priority: extra
Homepage: http://sourceforge.net/projects/cgru/
Description: Afanasy Exmaples
 Example software launch files and scenes.
 Consists of examples for: Nuke, Houdini, Blender, Maya
 and Afanasy applications launch scripts and demos.
