Package: afanasy-server
Version: @VERSION@
Architecture: @ARCHITECTURE@
Maintainer: Timur Hairulin <timurhai@gmail.com>
Installed-Size: @SIZE@
Depends: afanasy-common (= @VERSION@), libqt4-sql-psql (@QT_VERSION@)
Section: graphics
Priority: extra
Homepage: http://sourceforge.net/projects/cgru/
Description: Afanasy Server
 Setup server daemon startup.
