Package: afanasy-common
Version: @VERSION@
Architecture: @ARCHITECTURE@
Maintainer: Timur Hairulin <timurhai@gmail.com>
Installed-Size: @SIZE@
Depends: cgru-common (= @VERSION@)
#Depends: cgru-common (= @VERSION@), libqt4-core, libqt4-gui, libqt4-network, libqt4-xml, libqt4-sql, libqt4-sql-psql
Section: graphics
Priority: extra
Homepage: http://sourceforge.net/projects/cgru/
Description: Afanasy binary files
 Afanasy binary files.
