Package: afanasy-common
Version: @VERSION@
Architecture: @ARCHITECTURE@
Maintainer: Timur Hairulin <timurhai@gmail.com>
Installed-Size: @SIZE@
Depends: libqt4-core, libqt4-network, libqt4-xml
Section: graphics
Priority: extra
Homepage: http://sourceforge.net/projects/cgru/
Description: Afanasy common files
 Afanasy configuration files, python scripts and CLI.
 afcmd - afanasy server commad line interface.
 Needed by any Afanasy package.
