body {
background-color: #DFEDA2;
background-image:url('images/back.jpg');
color: #002000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
text-align: justify;
overflow-x: hidden;
overflow-y: scroll;
}
body, div, span { margin: 0; padding: 0; }
div { overflow: hidden;}

a { color: #040;}

#top_panel {
margin: 4px 20px;
text-align: center;
border-radius: 6px;
box-shadow: 0 0 2px #000 inset, 0 0 2px #FFF;
padding: 8px 8px;
}
#top_panel a {
font-weight: bold;
border-radius: 4px;
box-shadow: 0 0 3px #000, 0 0 3px #FFF inset;
margin: 2px 12px;
padding: 2px 12px;
}
#top_panel a.enabled {
box-shadow: 0 0 3px #000 inset, 0 0 3px #FFF;
background: rgba(255,255,255,.3);
}

#content { margin: 10px 20px;}

#info {
overflow: hidden;
margin: 4px 20px;
padding: 4px 12px;
background: rgba(0,20,0,.8);
color: rgba(200,255,100,.9);
text-shadow: 0 0 4px rgba(0,255,0,.8);
border-radius: 4px;
box-shadow: 0 0 4px #000 inset, 0 0 4px rgba(255,255,255,.8);
}
#info.error{
background: rgba(20,0,0,.8);
color: rgba(255,100,100,1);
text-shadow: 0 0 4px rgba(2550,0,0,.9);
}

.table_div {
text-align: center;
background: rgba(255,255,255,.1);
box-shadow: 0 0 3px rgba(0,0,0,.8) inset;
border-radius: 12px 12px 4px 4px;
margin: 12px 0px;
padding: 4px;
}
.table_div > .title {
text-transform: capitalize;
text-align: center;
font-size: 16px;
font-weight: bold;
}
table.table {
width: 100%;
}
table.table th, table.table td {
text-align: center;
background: rgba(255,255,255,.1);
box-shadow: 0 0 3px rgba(0,0,0,.8) inset;
padding: 2px;
}
table.table th {
border-radius: 8px 8px 0px 0px;
background: rgba(255,255,255,.2);
font-weight: normal;
}
