body {
font: 16px Arial;
background: #ab8;
/*user-select: none;
moz-user-select: none;*/
}

* {
margin: 0;
padding: 0;
overflow: hidden;
}

#header {
position: absolute;
top: 0;
left: 0;
right: 0;
height: 46px;
border: 2px solid #555;
box-shadow: 0px 0px 10px #000;
/*background: #AAA;*/
}

#content {
position: absolute;
width: 100%;
top: 50px;
bottom: 50px;
/*overflow: auto;*/
}

#footer {
position: absolute;
bottom: 0;
left: 0;
right: 0;
height: 46px;
border: 2px solid #555;
box-shadow: 0px 0px 10px #000;
/*background: #AAA;*/
}

.mbutton {
position: relative;
background: #DDD;
border: 1px solid #676767;
border-radius: 6px;
/*top: 10px;*/
margin: 10px;
padding: 5px;
cursor: pointer;
text-transform: uppercase;
font-weight: bold;
color: #222;
box-shadow: 0px 0px 2px #000;
}

.mbutton.pushed {
background: #EFD;
border: 1px inset #555;
color: #353;
box-shadow: 0px 0px 5px #000 inset;
}

.monitor {
position: absolute;
/*position: relative;*/
top: 0;
bottom: 0;
width: 100%;
/*border: 2px solid #676767;*/
/*background: #CCCCCC;*/
font-size: 12px;
font-weight: bold;
color: #000000;
/*overflow: auto;*/
}

.monitor .ctrl {
/*width: 100%;*/
position: absolute;
top: 0;
left: 0;
right: 0;
height: 36px;
border: 2px solid #555;
box-shadow: 0px 0px 10px #000;
/*background: #DDC;*/
}

.monitor .ctrl .sort {
position: absolute;
top: 5px;
left: 5px;
right: 70%;
bottom: 5px;
box-shadow: 0px 0px 5px #000 inset;
background: #789;
padding: 5px;
border-radius: 4px;
}

.monitor .ctrl .sort.filter {
left: 31%;
right: 5px;
}

.monitor .list {
position: absolute;
overflow: auto;
width: 100%;
top: 40px;
bottom: 40px;
/*background: #CCD;*/
}

.monitor .info {
width: 100%;
position: absolute;
bottom: 0;
height: 40px;
box-shadow: 0px 0px 10px #000;
/*background: #AAF;*/
}

.monitor .info .text {
position: absolute;
top: 5px;
left: 8px;
right: 8px;
bottom: 8px;
background: #CCC;
border: 1px solid #444;
box-shadow: 0px 0px 5px #222 inset;
border-radius: 4px;
/*margin: 5px;*/
padding: 5px;
user-select: text;
moz-user-select: text;
}

.item {
background: #AAAAAA;
border: 1px solid #676767;
position: relative;
margin: 3px;
padding: 1px 7px;
border-radius: 4px;
}

.item.nimby {
background: #8888FF;
}

.item.offline {
background: #656565;
}

.item.running {
color: #DDFFDD;
}

.item.selected {
background: #DDFFDD;
color: #000000;
}

.item .resources {
background: #EEEE99;
text-align: center;
position: absolute;
left: 40%;
width: 20%;
height: 2.4em;
}

.item.offline .resources {
height: 1.2em;
background: #888888;
}

.item.job
{
height: 24px;
}

.item.block
{
margin: 4px 4px 0px 4px;
height: 24px;
}

.item.task
{
margin: 1px 10px 0px 10px;
padding: 0px 4px;
height: 12px;
border-radius: 0px;
}

.item.task .progress
{
background: #0A0;
margin: 0px;
padding: 0px;
position: absolute;
left: 0%;
width: 0%;
height: 100%;
opacity: 0.3;
}
