body {
font: 12px Arial;
background: #A0A0A0;
}
a { color: inherit;  text-shadow: 0 0 2px rgba(0,0,255,.3); }
a:hover { text-shadow: 0 0 2px rgba(100,255,255,.5); }

#afbody { overflow:hidden;}

.text_selectable {
-moz-user-select: text;
-webkit-user-select: text;
}
#content, #header, #footer, .monitor {
-moz-user-select: none;
-webkit-user-select: none;
}
.hide_childs > * { display: none; }
#content, #header, #footer * {
margin: 0;
padding: 0;
overflow: hidden;
}
.ease_transition {
-o-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
}
#header,#footer {
position: absolute;
left: 0; right: 0;
border: 2px solid #575757;
box-shadow: 0px 0px 5px #000;
overflow: hidden;
}
#header { height: 226px; top: 0px; }
#header { height: 226px; top: -200px; }
#headermain {
position: absolute;
left: 0; right: 0; bottom: 0; top: 200px;
}
#footer { border-bottom-width: 0; }
#headermain .mbutton {
font: 16px Arial;
font-weight: bold;
position: relative;
border: 1px solid #575757;
border-radius: 6px;
margin: 0px 10px;
padding: 6px 8px 3px 8px;
cursor: pointer;
text-transform: uppercase;
text-align: center;
color: #222;
}
#headermain .mbutton.pushed {
background: #EFD;
color: #353;
box-shadow: 0px 0px 8px #250 inset, 0px 0px 10px rgba(255,255,255,.7);
}
#header .mbutton.god_only { display: none;}
#header.su_god .mbutton.god_only { display: inline; }

#content {
position: absolute;
left: 0; right: 0;
padding: 0; margin: 0;
top: 28px;
bottom: 26px;
overflow: hidden;
border: 2px solid #575757;
}

#footer { height: 26px; bottom: 0px; font-size: 12px;}
#footer.opened { bottom: 0;}
#footeropenbutton, #headeropenbutton, #log_btn, #netlog_btn {
cursor: pointer;
text-align: center;
}
#footeropenbutton, #headeropenbutton {
border: 1px solid #575757;
border-radius: 2px;
float: left;
width: 12px; height: 18px;
margin: 3px;
}
#footer #log_btn, #netlog_btn {
border: 1px solid #575757;
border-bottom-width: 0;
float: right;
display: none;
padding: 3px 6px;
margin: 5px 3px 0px 6px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}
#footer #log_btn.pushed, #netlog_btn.pushed { background-color: rgba(150,255,255,.3); }
#footer #info {
border: 1px solid #575757;
padding: 3px 9px;
margin: 2px 24px;
border-radius: 2px;
}
#footer #version {
float: right;
padding: 3px; margin: 3px;
}
#footer #log, #netlog {
border: 1px solid #575757;
overflow: auto;
word-wrap:break-word;
display: none;
padding: 3px 9px; margin: 0px 9px;
border-radius: 2px;
height: 190px;
}
#footer #log *, #footer #netlog * { margin: 4px 0px;}

.monitor {
position: absolute;
top: 0; bottom: 0; left: 0; right: 0;
font-size: 12px;
overflow: hidden;
}
.monitor * { overflow: hidden; }

.view {
position: absolute;
left: 50px; right: 200px;
top: 0; bottom: 0;
}
.panel {
position: absolute;
top: 0; bottom: 0;
}
.panel.left {
left: 0;
width: 48px;
border-right: 2px solid #575757;
}
.panel.right {
right: 0;
width: 198px;
border-left: 2px solid #575757;
overflow-y: auto;
word-wrap: break-word;
}
.panel.right .name {
padding: 4px;
text-align: center;
font-weight: bold;
}
.panel.right .section {
padding: 4px;
border-bottom: 2px solid #575757;
opacity: .5;
}
.panel.right .section.active { opacity: 1.0; }
.panel.right .section .caption {
cursor: pointer;
margin: 4px 8px;
}
.panel.right .section .param {
clear: both;
padding: 4px;
border-top: 1px solid #575757;
}
.panel.right .section .param .label {
float: left;
}
.panel.right .section .param .value {
float: right;
}
.panel.right .section.folders .rules_link {
float: right;
display: none;
}
.panel.right .section.folders .label {
font-style: italic;
}
.panel.right .section.folders .cmdexec {
font-weight: normal;
background: inherit;
}

.monitor .ctrl,.info {
position: absolute;
left: 0; right: 0;
height: 28px;
-box-shadow: 0px 0px 6px #000, 0px 0px 4px rgba(255,255,255,.7) inset;
}
.monitor .ctrl { top: 0; border-bottom: 2px solid #575757;}
.monitor .info { bottom: 0; border-top: 2px solid #575757;}
.monitor .list {
font-weight: bold;
position: absolute;
left: 0; right: 0;
overflow: auto;
top: 30px;
bottom: 30px;
}

.panel .ctrl_button {
border: 1px solid rgba(89,89,89,.5);
border-radius: 2px;
margin: 3px;
padding: 4px 2px;
text-align: center;
cursor: default;
opacity: .5;
}
.panel.right .ctrl_button { float: right; margin: 0px; padding: 1px 8px; }
.panel .ctrl_button.active { cursor: pointer; opacity: 1.0; }
.panel .ctrl_button.active:hover { background-color: rgba(150,255,255,.2); }
.panel .ctrl_button.errors { background-color: rgba(255,0,0,.8); }
.panel .ctrl_button.errors:hover { background-color: rgba(255,0,0,1.0); }
.panel .ctrl_button .sub_button {
border: 1px solid rgba(89,89,89,.5);
border-radius: 2px;
padding: 4px 2px;
}
.panel .ctrl_button.active .sub_button:hover { background-color: rgba(150,255,255,.4); }

.panel .ctrl_button.clicked, .panel .ctrl_button .sub_button.clicked, .panel .ctrl_button.clicked:hover {
background-color: #FFF;
box-shadow: 0 0 4px #FFF;
}

.ctrl_sort, .ctrl_filter {
position: absolute;
margin: 3px 8px;
}
.ctrl_sort   { left: 5px; width: 124px; }
.ctrl_filter { left: 138px; right: 0px; }
.ctrl_filter.filtering { background: #FC6; color:#000; }
.ctrl_sort.sorting { background: #FC6; color:#000; }
.ctrl_sort .label, .ctrl_filter .label { float: left; margin: 5px 10px; width: 30px;}
.ctrl_filter .param, .ctrl_sort .param 
{
font: 11px monospace;
float: left;
border: 1px solid #575757;
border-radius: 2px;
margin: 2px;
padding: 2px 0px;
width: 60px;
cursor: pointer;
text-align: center;
}
.ctrl_filter .input
{
position: absolute;
font: 11px monospace;
border: 1px solid #575757;
border-radius: 2px;
left: 120px; top: 0px; bottom: 0px; right: 10px;
margin: 2px; padding: 3px;
background-color: rgba(255,255,255,.2);
}
.monitor .info .text {
position: absolute;
top: 4px; left: 8px; right: 8px; bottom: 3px;
background: rgba(255,255,255,.2);
border: 1px solid #575757;
border-radius: 2px;
padding: 4px 8px;
}

.item {
background: rgba(255,255,255,.3);
border: 1px solid #575757;
position: relative;
margin: 3px;
padding: 1px 7px;
border-radius: 4px;
cursor: default;
}
.item.NbY { background: #88F;}
.item.NBY { background: #77F;}
.item.DON { background: #486;}
.item.WDP { background: #969;}
.item.WTM { background: #599;}
.item.RUN { background: #8A6;}
.item.ERR { background: #965;}
.item.OFF, .item.task.SKP { background: #777;}
.item.DRT { border: 1px solid #955;}
.item.selected, .item.task.selected {
background: #DFD;
color: #000;
}

.render .resources {
background: #EEEE99;
position: absolute;
top: 0;
left: 54%;
width: 0;
overflow: visible;
}

.item.render .plotter {
background: #000;
border: 1px solid #575757;
border-radius: 2px;
position: absolute;
}

.item.render .plotter .label {
color: #FF3;
font-size: 10px;
font-weight: normal;
position: absolute;
top: 2px; left: 2px;
}
.item.render .plotter.custom {
position: relative;
float: left;
}
.item.render .plotters_custom_div {
width: 100%;
}
.item.render .power {
position: absolute;
text-align: center;
top: 1px; left: 0; right: 0;
}

.item.job { /*height: 24px;*/}
.item.job .thumbnails { /*border-radius: 3px; border: 1px solid #575757;*/ }
.item.job .thumbnails > div { margin: 1px 1px; border-radius: 2px; /*border: 1px solid #575757;*/ float: left; position: relative; }
.item.job .thumbnails > div > div { font-size: 9px; position: absolute; right: 0px; padding-right: 4px; }
.item.job .thumbnails > div > img { display: block; margin-top: 12px; border-radius: 2px; }

.jobblock {
clear: both;
margin: 2px;
padding: 2px 5px;
border-radius: 2px;
border: 1px solid #575757;
}
.jobblock.selected {
background: #DFD;
}

.item.block {
margin: 4px 4px 0px 4px;
height: 24px;
}

.item.task {
margin: 1px 10px 0px 10px;
padding: 0px 4px;
border-radius: 0px;
}

.task .bar, .task .body {
position: absolute;
}
.task .bar {
background: #486;
top: 2px; bottom: 2px; left: 0; width: 0;
box-shadow: 0px 0px 3px #486;
opacity: 0.9;
}
.task .body {
top: 0; bottom: 0; left: 18px; right: 5px;
}
.task .thumbs_btn {
cursor: pointer;
float: left;
text-align: center;
border: 1px solid #555;
width: 10px; height: 10px;
}
.task .thumbs {
clear: both; text-align: center;
box-shadow: 0px 0px 3px #000 inset;
border-radius: 4px;
margin: 2px; padding: 2px;
}
.task .thumbs img {
border-radius: 3px;
border: 1px solid #555;
margin: 2px;
}

.user .bar {
position: absolute;
top: 0; bottom: 0; left: 0; width: 0;
margin-right: 2px;
background: #FF4;
border-radius: 3px;
text-align: center;
-border: 1px solid #575757;
border-radius: 2px;
}

.jobblock .progress {
clear: both;
border: 1px solid #575757;
margin: 2px;
border-radius: 2px;
}
.jobblock .progress .bar {}
.DON { background: #363;}
.RUN { background: #FF0;}
.ERR { background: #F00;}
.text.ERR { border-radius: 4px; padding: 0px 5px; }

.item .name {
font-size: 14px;
/*font-weight: bold;*/
}

.render .idle_box {
display: none;
position: absolute;
height: 5px;
right: 5px;
top: 14px;
width: 15%;
border-radius: 2px;
box-shadow: 0px 0px 2px #000 inset;
}
.render .idle_box .idle_bar {
background: #000;
position: absolute;
left: 0; top: 0; bottom: 0;
border-radius: 2px;
opacity: .3;
}
.render .idle_box.nimby .idle_bar { background: #00F; opacity: .4; }
.render .idle_box.free .idle_bar { background:  #F00; opacity: .3; }
.render .idle_box.wol .idle_bar   { background: #FF0; opacity: .5; }

/*.item.render .task {*/
.rendertask {
background: #DD5;
margin: 1px;
/*border: 1px solid #666;*/
position: relative;
}
.rendertask .body {
position: relative;
padding: 1px 5px;
border: 1px solid #575757;
border-radius: 2px;
}
.rendertask .bar {
position: absolute;
background: #55AA44;
left: 0; top: 0; bottom: 0;
}
/*
.rendertask .icon {
position: absolute;
width: 16px; height: 16px;
}
*/
/*
.font-ready { opacity: .7;}
.font-run   { color: #FF0;}
.font-done  { color: #130;}
.font-error { color: #F00;}
*/

.item > .prestar { margin-left: 56px;}
.item.render > .prestar { margin-left: 46px;}
.star {
display: none;
font-size: 26px;
/*border: 1px solid #000;*/
position: absolute;
top: 0; left: 2px;
width: 58px; height: 32px;
color: #FF5;
text-shadow: 0px 0px 2px #000;
}
.star .count {
position: absolute;
top: 0px; left: 10px; right: 0; bottom: 0;
font-size: 18px;
text-align: center;
text-shadow: 0px 0px 1px #000, 0px 0px 2px #000, 0px 0px 4px #000;
}
.task .star {font-size: 12px;}

.su_user  { background: inherit; color:inherit; }
.su_visor { background: #FF8; color:#000; }
.su_god   { background: #EFF; color:#000; }

.cgru_window_window.tasks {
top: 150px; bottom: 50px; left: 10%; right: 10%;
}

.task_exec > div {
padding: 6px;
}
.task_exec .attr {
padding: 2px 0px;
}
.task_exec .attr div {
margin: 2px;
padding: 2px 0px;
}
.task_exec .attr .label {
float: left;
width: 60px;
}
.task_exec .attr .value {
padding: 2px 8px;
overflow: hidden;
font-weight: bold;
border-radius: 4px;
box-shadow: 0px 0px 2px #555 inset;
}
.task_exec .raw .object, .task_exec .files {
padding: 6px;
border-radius: 4px;
box-shadow: 0px 0px 2px #555 inset;
overflow: hidden;
}
.task_exec .files > div {
cursor: pointer;
margin: 1px;
padding: 1px 4px;
float: left;
border-radius: 2px;
box-shadow: 0 0 2px #000, 0 0 2px #FFF inset;
background: rgba(255,255,0,.2);
}
.task_exec .files > div.opened {
clear: both; float: none;
}
