body {
font: 16px Arial;
font-weight: bold;
background: #ab8;
}

* {
margin: 0;
padding: 0;
overflow: hidden;
user-select: none;
-moz-user-select: none;
}

#header,#footer {
position: absolute;
left: 0; right: 0;
height: 46px;
border: 2px solid #555;
box-shadow: 0px 0px 10px #000;
/*background: #AAA;*/
}
#header { top: 0; }
#footer { bottom: 0; }

#content {
position: absolute;
left: 0; right: 0;
top: 50px;
bottom: 50px;
/*overflow: auto;*/
}

.mbutton {
position: relative;
background: #DDD;
border: 1px solid #676767;
border-radius: 6px;
/*top: 10px;*/
margin: 10px;
padding: 5px;
cursor: pointer;
text-transform: uppercase;
color: #222;
box-shadow: 0px 0px 2px #000;
}
.mbutton.pushed {
background: #EFD;
border: 1px inset #555;
color: #353;
box-shadow: 0px 0px 5px #000 inset;
}

.monitor {
position: absolute;
top: 0; bottom: 0; left: 0; right: 0;
font-size: 12px;
}

.monitor .ctrl,.info {
position: absolute;
left: 0; right: 0;
height: 40px;
/*border: 2px solid #555;*/
box-shadow: 0px 0px 10px #000;
/*background: #DDC;*/
}
.monitor .ctrl { top: 0; }
.monitor .info { bottom: 0;}

.monitor .list {
position: absolute;
left: 0; right: 0;
overflow: auto;
top: 40px;
bottom: 40px;
/*background: #CCD;*/
-moz-user-select: none;
}

.monitor .ctrl .sort,.filter {
position: absolute;
top: 5px;
bottom: 5px;
box-shadow: 0px 0px 5px #000 inset;
background: #789;
padding: 5px;
border-radius: 4px;
}
.monitor .ctrl .sort { left: 5px; right: 70%; }
.monitor .ctrl .filter { left: 31%; right: 5px; }

.monitor .info .text {
position: absolute;
top: 5px;
left: 8px;
right: 8px;
bottom: 8px;
background: #CCC;
border: 1px solid #444;
box-shadow: 0px 0px 5px #222 inset;
border-radius: 4px;
/*margin: 5px;*/
padding: 5px;
user-select: text;
-moz-user-select: text;
}

.item {
background: #AAAAAA;
border: 1px solid #676767;
position: relative;
margin: 3px;
padding: 1px 7px;
border-radius: 4px;
}
.item.NbY { background: #88F;}
.item.NBY { background: #77F;}
.item.DON { background: #685;}
.item.WDP { background: #969;}
.item.WTM { background: #86C;}
.item.RUN { background: #8A7;}
.item.ERR { background: #A65;}
.item.OFF { background: #777;}
.item.selected {
background: #DDFFDD;
color: #000000;
}

.item .resources {
background: #EEEE99;
position: absolute;
top: 0;
left: 50%;
width: 0;
overflow: visible;
/*
text-align: center;
height: 2.5em;
right: 30%;
*/
}

.item .plotter {
background: #000;
border: 2px inset #888;
position: absolute;
/*
width: 50px;
position: relative;
width: 10%;
*/
}

.item .plotter .label {
color: #FF3;
font-size: 10px;
font-weight: normal;
position: absolute;
top: 2px; left: 2px;
}

/*
.item.OFF .resources {
height: 1.3em;
background: #888888;
}
*/
.item.job {
/*height: 24px;*/
}

.item .jobblock {
border: 1px solid #666;
margin: 2px;
padding: 2px;
/*box-shadow: 0px 0px 5px #222 inset;*/
}

.item.block {
margin: 4px 4px 0px 4px;
height: 24px;
}

.item.task {
margin: 1px 10px 0px 10px;
padding: 0px 4px;
height: 12px;
border-radius: 0px;
}

.item .bar {
background: #0A0;
/*margin: 0px; padding: 0px;*/
position: absolute;
top: 0px; bottom: 0px;
left: 0%; width: 0%;
opacity: 0.3;
}

.item .name {
font-size: 14px;
/*font-weight: bold;*/
}

