Package: cgru
Version: @VERSION@
Architecture: all
Maintainer: Timur Hairulin <timurhai@gmail.com>
Installed-Size: @SIZE@
Depends: cgru-common (= @VERSION@), afanasy-common (= @VERSION@), afanasy-render (= @VERSION@), afanasy-qtgui (= @VERSION@), @DEPENDS_CGRU_COMMA@
Suggests: mencoder
Section: graphics
Priority: extra
Homepage: http://cgru.info/
Description: CG Tools Pack, Afanasy Render Manager
 Dummy package to install all CGRU featues for workstation.
 Include Afanasy GUI and render.
 Initialize Afanasy render startup daemon.
