body { background: #333; }

#footer { height: 50px; }
#header, #footer, #navig, #sidepanel { background: #333; box-shadow: 0px 0px 5px #000, 0px 0px 5px #555 inset; }
#footer #log { background: #AAA; top: 55px;}
#footer #info { background: #222; color: #777; margin: 20px 10px; }

#footer .controls { float:left; margin: 20px 20px 0px 50px;}
#footer .controls .button { float:left;width:50px; text-align:center;}
#slider {
/*-moz-user-select: none;
-webkit-user-select: none;*/
border-radius: 4px;
position: absolute;
top: 4px; left: 10px; right: 10px; height: 10px;
box-shadow: 0 0 2px #999;
background: #222;
}
#slider #progress {
background: #777;
position: absolute;
top: 0px; left: 0px; bottom: 0px;
}

#player_content {
position: absolute;
top: 38px;
bottom: 50px;
left: 0px; right: 0px;
overflow: hidden;
}

#player_content #view { position: absolute; box-shadow: 0 0 4px rgba(0,0,0,1); }
/*#player_content #view.painting { box-shadow: 0 0 4px #0F0; }
#player_content #view.changed  { box-shadow: 0 0 4px #F00; }
#player_content #view.saved    { box-shadow: 0 0 4px #FF0; }*/

/*#player_content #view img { position: absolute; }*/
#player_content #view canvas { position: absolute; top: 0px; left: 0px; /*border: 4px solid #F00;*/}

#paint .button {
float:left;
}

#FPS {float:left;margin:2px;}
#framerate {
float:left;
width:16px; height:18px;
background:#222;
color:#140;
border-radius:4px;
margin:2px; padding:2px 12px;
box-shadow:0 0 4px #000 inset, 0 0 4px #555;
}
#FPS:hover #framerate { color:#291; }

