body {
font: 16px Arial;
background: #ab8;
}

#header, #footer, #sidepanel, #content {
-o-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
}

* { margin: 0; padding: 0; overflow: hidden; }

#header, #footer, #navig, #sidepanel {
background: #ab7;
position: absolute;
box-shadow: 0px 0px 10px #000, 0px 0px 5px #000 inset, 0px 0px 15px #FFF inset;
}

#header, #footer { left: 0; right: 0; height: 238px; }
#header { top: -200px; /*top: 0;*/}
#footer { bottom: -200px; /*bottom: 0;*/}

.headeropenbtn { position: absolute; left: 10px; width: 9px; height: 20px; margin:0;padding:0;}
#header .headeropenbtn { bottom: 8px;}
#footer .headeropenbtn { top: 8px;}
#header .panel {
position: absolute;
left: 40px; right: 10px; bottom: 5px; height: 30px;
/*box-shadow: 0px 0px 3px rgba(0,0,0,.5) inset, 0px 0px 5px rgba(255,255,255,.5);
border-radius: 5px;*/
}
#header .panel .button { float: left; padding: 4px 8px; margin: 1px 8px; }

#footer #open { float: right; margin: 8px; }
#footer #version { float: right; margin: 10px; }
#footer #info {
background: #DDD;
border-radius: 4px;
margin: 8px 40px;
padding: 3px 10px;
height: 20px;
box-shadow: 0px 0px 5px #000 inset, 0px 0px 5px rgba(255,255,255,.5);
}
#footer #log {
position: absolute;
overflow: auto;
border-radius: 6px;
left: 10px; right: 10px; top: 40px; bottom: 5px;
box-shadow: 0px 0px 5px #000 inset, 0px 0px 5px rgba(255,255,255,.5);
padding: 2px 6px;
font-size: 12px;
}
#footer #log * { margin: 4px 1px;}

#navig, #sidepanel {
top: 38px; bottom: 38px;
/*user-select: none;*/
-moz-user-select: none;
-webkit-user-select: none;
}
#navig { overflow-y: scroll; width: 300px; left: 0; }

.button {
cursor: pointer;
text-align: center;
border-radius: 4px;
background: rgba(200,200,200,.2);
box-shadow: 0 0 3px #000, 0 0 4px rgba(255,255,255,.5) inset;
margin: 2px;
padding: 2px;
}
.button:hover { background: rgba(200,255,255,.2);}

.editing { background: #DDD; }

#sidepanel { right: 0; }
#sidepanel > div { box-shadow: 0 0 4px #000 inset, 0 0 4px #FFF; border-radius: 4px;}
#sidepanel #sidepanel_hide { display: none;}
#sidepanel.opened { overflow-y: scroll;}
#sidepanel.opened #sidepanel_hide { display: block;}
#sidepanel .label { word-wrap: break-word; letter-spacing: 99px;}
#sidepanel.opened .label { letter-spacing: 1px;}
#sidepanel .opened .label { background: rgba(200,255,255,.2); box-shadow: 0 0 2px #000;}
#sidepanel .body { display: none; }
#sidepanel.opened .opened .body { display: block; }
#sidepanel .label:hover, #sidepanel #sidepanel_hide:hover { background: rgba(200,255,255,.4);}

#playlist .folder, #playlist .link {
box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
border-radius: 4px;
cursor: pointer;
font-weight: normal;
border: 1px solid rgba(255,255,255,.2);
padding: 0px 0px 0px 8px;
color: rgba(0,0,0,.8);
}
#playlist .folder { font-size: 16px; }
#playlist .link { font-size: 14px; color: #005;}
#playlist .folder.opened { background: rgba(200,255,255,.2);/*font-weight: bold;*/}
#playlist .folder > div { display: none;}
#playlist .folder.opened > div { display: block;}
#playlist .current {font-weight: bold;}
#playlist .folder:hover { box-shadow: 0 0 2px rgba(0,0,0,.9) inset; color: rgba(0,0,0,1.0);}
#playlist .link:hover { box-shadow: 0 0 2px rgba(0,0,0,.9) inset; color: #00A;}

#content {
position: absolute;
left: 300px;
top: 38px;
bottom: 38px;
padding: 10px;
overflow-y: scroll;
}
#content_info {
box-shadow: 0 0 2px #000 inset;
border-radius: 10px;
padding: 4px;
}
#content_info .label { padding-right:4px; font-size:12px;}
#content_info.closed { cursor:pointer; text-align:center;}
#content_info.closed .label, #content_info.closed .button { display:none;}
/*#content_status .button.edit { display:block;}*/
#content_status .button.save { display:none;}
#content_status.opened .button.edit { display:none;}
#content_status.opened .button.save { display:block;}
#content_info .editing { box-shadow: 0 0 2px #000 inset; border-radius: 4px; padding: 4px; margin:2px;}
#status_color { display: none; border-radius: 6px; margin: 2px; border: 1px solid #000;}
#status_color div div { height:20px;float:left;}

#navig .folder {
position: relative;
cursor: pointer;
box-shadow: 0px 0px 3px rgba(0,0,0,.6) inset;
border: 1px solid rgba(255,255,255,.2);
padding: 0px 0px 0px 16px;
border-radius: 4px;
font-weight: normal;
}
#navig .folder.opened {
padding-top: 4px;
padding-bottom: 4px;
background: rgba(200,255,255,.1);
font-weight: bold;
}
#navig .folder.current { background: rgba(200,255,255,.7); }
#navig .folder:hover { box-shadow: 0px 0px 3px rgba(0,0,0,1.0) inset}
#navig .folder .fcolor {
position: absolute;
/*height: 22px;*/
left:2px;right:2px;top:2px;bottom:2px;
border-radius: 4px;
}
#navig .folder.current .fcolor { opacity: 0.5; }
#navig .folder .fname {position: relative;}
#navig .folder .fstatus {position: relative;
float: right;
font-weight: normal;
padding-right:4px;
}

#assets {
background: rgba(200,255,255,.3);
box-shadow: 0px 0px 3px #000 inset, 0px 0px 5px rgba(255,255,255,.7);
border-radius: 12px;
height: 30px;
margin: 0px 100px;
padding: 0px 10px;
}
#assets .asset { float: left; margin: 1px 4px; padding: 5px 4px; }
#assets .asset .type { padding: 0px 4px; float: left; }
#assets .asset .name { padding: 0px 4px; font-weight: bold; float: left; }
#content #asset {}
#content #asset > div {
box-shadow: 0px 0px 6px #000 inset, 0px 0px 6px rgba(255,255,255,.7);
border-radius: 10px;
margin: 6px;
padding: 20px;
}
#content #asset > div.button { padding: 4px;}

#content #rules, .rules {
font-family: courier;
overflow: hidden;
/*background-color: #010;
color: #7F4;
font-weight: bold;*/
font-size: 12px;
padding: 10px 20px;
margin: 6px;
opacity: 0.9;
box-shadow: 0px 0px 5px #000 inset;
border-radius: 10px;
/*border: 3px solid #000;*/
/*text-shadow: 0px 0px 20px #060, 20px 1px 2px #010;*/
}

.sequences {}
.sequences .folder {
border-radius: 4px;
box-shadow: 0 0 3px #000 inset;
padding: 2px 6px;
margin: 2px;
}
.sequences .folder div {
float: right;
padding: 2px 6px;
margin: 0px 10px;
font-size: 14px;
}
.sequences .folder .menu { box-shadow: 0px 0px 2px #000 inset; }

.dailies div { margin: 4px; border-radius: 4px;}
.dailies .label { float: left; text-transform: capitalize;}
.dailies div .param, .dailies div div { margin: 4px 8px; padding: 3px 6px;}
.dailies div .param, .dailies .rules { box-shadow: 0 0 4px #000 inset;}
.dailies div .param { background: #DDD;}
.dailies .rules { padding: 12px; }

