Package: afanasy-render
Version: @VERSION@
Architecture: @ARCHITECTURE@
Maintainer: Timur Hairulin <timurhai@gmail.com>
Installed-Size: @SIZE@
Depends: afanasy-common (= @VERSION@)
Section: graphics
Priority: extra
Homepage: http://cgru.info/
Description: Afanasy Render
 Create user "render" if does not exists.
 Initialize startup scripts.
