Package: afanasy-qtgui
Version: @VERSION@
Architecture: @ARCHITECTURE@
Maintainer: Timur Hairulin <timurhai@gmail.com>
Installed-Size: @SIZE@
Depends: cgru-common (= @VERSION@), @DEPENDS_QTGUI_COMMA@
Section: graphics
Priority: extra
Homepage: http://cgru.info/
Description: Afanasy Qt GUI files
 Afanasy Qt GUI files.
